/straight
/eln-cache
/.backup
/transient
/auto-save-list
/tree-sitter
/places
/recentf
/elpa
.lsp-session
/site-elisp
projectile-bookmarks.eld
session*
amx-items
*~
tramp
/url
/.cache
.dap-breakpoints
